<md-toolbar layout-padding layout="row" layout-align="space-between center" ng-if="!isEmbedded">
  <div>HEADER</div>
  <div ng-if="currentUser">
    Hello, {{currentUser.profile.displayName}} |
    <a href ng-click="logout()">
      Logout
      <i class="ico ico-exit"></i>
    </a>
  </div>
  <div ng-if="!currentUser">
    <a href ng-click="login()">Login</a>
  </div>
</md-toolbar>

<ui-view></ui-view>

<md-toolbar layout-padding layout="row" layout-align="space-between center" ng-if="!isEmbedded">
  FOOTER
</md-toolbar>
